@font-face {
    font-family: "RoboroRegular";
    font-style: normal;
    font-weight: 400;
    /* браузер сначала ищет шрифт у себя */
    src: local("RoboroRegular"),
    /* если не получилось, то подключает этот формат */
    /* ttf, otf - для старых браузеров не сжатые */
    /* woff, woff2 современные шрифты*/
    /* oet, svg - редко используемые форматы шрифтов */
    url(../fonts/Roboto-Regular.ttf) format("wolf")
}

body {
    margin: 0;
}
h1, h2, h3, p {
    margin: 0;
}
.features-text-bloc {
    display: inline-block;
    width: 33%;
    vertical-align: top;
    text-align: center;
}

.features-text-titel {
    color: #f39003;
    font-family: "Roboto - Black";
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 4px;
}

.features-text-subtitel {   
    font-weight: 400;
    color: #373737;
     min-height: 48px; /*фикс высоты блока с текстом */
}

/* block cards */
.features-cartd_block {
    background-color: chocolate;
    display: inline-block;
}

.features-cards_img {
    /* display: inline-block; */
}

.features-cards-text {
    /* display: inline-block; */
}